<!-- <p>employee-list works!</p>
<div class = "row">
    <h2> Employee List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> EName</th>
            <th> Eno </th>
            <th> Esal</th>
            <th> Eaddress </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of Employees" >
            <td> {{ <employee.class="Ename"></employee> }} </td>
            <td> {{ <employee class="Esal"></employee> }} </td>
            <td> {{ <employee class="Eno"></employee> }} </td>
            <td> {{ <employee class="Eaddress"></employee> }} </td>
            <td>
                <button (click) = "updateEmployee(employee.id)" class = "btn btn-primary"> Update</button>
                <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "employeeDetails(employee.id)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table> -->